### Create table

In [1]:
# 1. module 가져오기 
import sqlite3

In [2]:
# 2. 데이터베이스 연결(커넥션)
conn = sqlite3.connect('example.db')

In [3]:
# 3. 커서 획득
# SQL (Structureed Query Language)
#   - DDL (Data Definition Language) - 정의어 -> CREATE, DTOP, ALTER
#   - DML (Data Manipulation Language) - 조작어 -> SELECT, INSERT, UPDATE, DELETE
#   - DCL (Data Control Language) - 제어어 -> GRANT, REVOKE
cursor = conn.cursor()

In [4]:
sql = '''
CREATE TABLE member(
num INTEGER PRIMARY KEY AUTOINCREMENT, 
name TEXT,
email TEXT,
c_date TEXT
)
'''

In [5]:
# execute의 반환값은 SQL의 종류에 따라 다름 
cursor.execute(sql)

In [6]:
conn.commit()

In [7]:
cursor.close()
conn.close()

### Insert data 1

In [8]:
import sqlite3
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

In [9]:
sql = '''INSERT INTO member(num, name, email, c_date)
values(null, 'Administrator', 'admin@test.com', datetime('now', 'localtime'))
'''

# id = 'Admin'
# sql2 = 'INSERT INTO member(num, name, email, c_date) values(null, ' 
# + '\'' + id + '\'' + ', ' + '\'admin@test.com\'' + ',' + 'datetime(\'now\', \'localtime\''
# + '))'
# '''

In [10]:
cursor.execute(sql)

In [12]:
conn.commit()
cursor.close()
conn.close()

### Insert data 2

In [32]:
import sqlite3
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

In [33]:
sql = '''INSERT INTO member(num, name, email, c_date) 
values(null, ?, ?, datetime('now', 'localtime'))
'''

In [34]:
cursor.execute(sql, ('User2', 'user2@test.com'))

In [35]:
conn.commit()
cursor.close()
conn.close()

### Select 1

In [17]:
import sqlite3
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

In [18]:
# DML 
# CRUD (Create, Read, Update, Delete) -> Insert, Select, Update, Delete
sql1 = 'SELECT num, name, email, c_date FROM member'

In [19]:
cursor.execute(sql1)

In [20]:
# fetch 함수를 이용해서 , 테이블셋 가져오기 
# fetchall(), fetchmany(), fetchone()
rows = cursor.fetchall()

In [22]:
for row in rows:
    print('No:{0}, Name:{1}, Email:{2}, Created date:{3}'.format(row[0], row[1], row[2], row[3]))

No:1, Name:Administrator, Email:admin@test.com, Created date:2021-01-08 11:20:24
No:2, Name:User1, Email:user@test.com, Created date:2021-01-08 11:28:10

In [23]:
cursor.close()
conn.close()

### Select 2

In [36]:
import sqlite3
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

In [25]:
# SELECT num, name, email, c_date FROM member WHERE email='admin@test.com'
sql2 = 'SELECT num, name, email, c_date FROM member WHERE email=\'admin@test.com\''
cursor.execute(sql2)
row = cursor.fetchone()
print('No:{0}, Name:{1}, Email:{2}, Created date:{3}'.format(row[0], row[1], row[2], row[3]))

No:1, Name:Administrator, Email:admin@test.com, Created date:2021-01-08 11:20:24

In [29]:
sql2 = 'SELECT num, name, email, c_date FROM member WHERE email=\'admin_fake@test.com\''
cursor.execute(sql2)
row = cursor.fetchone()
if row != None:
    print('No:{0}, Name:{1}, Email:{2}, Created date:{3}'.format(row[0], row[1], row[2], row[3]))
else:
    print('데이터가 존재하지 않습니다.')

데이터가 존재하지 않습니다.

### Select 3

In [76]:
import sqlite3
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

In [77]:
sql3 = 'SELECT num, name, email, c_date FROM member WHERE num > 0'
cursor.execute(sql3)
while True:
    row = cursor.fetchone()
    if row == None:
        break
    print('No:{0}, Name:{1}, Email:{2}, Created date:{3}'.format(row[0], row[1], row[2], row[3]))

In [66]:
cursor.close()
conn.close()

### Update

In [39]:
import sqlite3
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

In [60]:
sql1 = 'UPDATE member SET email=? WHERE num=?'

In [61]:
cursor.execute(sql1, ('user1@example.com', 2))
conn.commit()

In [62]:
sql2 = 'SELECT num, name, email FROM member WHERE num=?'

In [63]:
cursor.execute(sql2, (2,))
row = cursor.fetchone()

In [64]:
if row != None:
    print('No:{0}, Name:{1}, Email:{2}'.format(row[0], row[1], row[2]))

No:2, Name:User1, Email:user1@example.com

In [57]:
cursor.close()
conn.close()

### Delete 1

In [58]:
import sqlite3
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

In [69]:
sql = 'DELETE FROM member WHERE email=?'
cursor.execute(sql, ('user1@example.com',))

In [70]:
conn.commit()
cursor.close()
conn.close()

### Delete 2

In [73]:
import sqlite3
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

In [74]:
# Email:user2@test.com, admin@test.com
# DELETE FROM member WHERE email IN ('user2@test.com', 'admin@test.com')
# DELETE FROM member WHERE email LIKE '%test.com'
sql = 'DELETE FROM member WHERE email in (?, ?)'
cursor.execute(sql, ('user2@test.com','admin@test.com'))

In [75]:
conn.commit()
cursor.close()
conn.close()