In [ ]:
pip install pymysql

In [ ]:
'''
CREATE TABLE member(
id       VARCAHR(20) PRIMARY KEY,
name     VARCHAR(20) NOT NULL,
pwd      VARCHAR(20) NOT NULL,
reg_date DATETIME
)
'''

In [ ]:
import pymysql

In [ ]:
#1. Connection
# Sqllite -> conn = sqlite3.connect('example.db')
conn = pymysql.connect(host='127.0.0.1', user='root', password='', port=13306, db='mydb', charset='utf8')

In [ ]:
cursor = conn.cursor()

In [7]:
insertSql = """INSERT INTO member(id, pwd, name, reg_date) VALUES('admin','1234','Administrator',NOW())"""
cursor.execute(insertSql)
conn.commit()

In [9]:
insertSql = """INSERT INTO member(id, pwd, name, reg_date) VALUES(%s, %s, %s, NOW())"""
cursor.execute(insertSql, ('user1', '1111', 'TEST\'s USER'))
conn.commit()

In [10]:
selectSql = 'SELECT * FROM member'
cursor.execute(selectSql)
data = cursor.fetchall()

for row in data:
    print(row)

('admin', 'Administrator', '1234', datetime.datetime(2021, 1, 8, 6, 56, 47))
('user1', "TEST's USER", '1111', datetime.datetime(2021, 1, 8, 6, 57, 36))