In [1]:
def count_values(dic):
    return len(set(dic.values()))

In [2]:
count_values({'red':1, 'green':2, 'blue':2, 'black':1})

2

In [3]:
count_values({'red':1, 'green':2, 'blue':2, 'black':3})

3

In [7]:
def least_likely(dic):
    smallest = 1
    name = ''
    for k in dic:
        probability = dic[k] # value
        if probability < smallest:
            smallest = probability
            name = k
            
    return name

In [8]:
least_likely({'neutron': 0.55, 'proton': 0.21, 'meson': 0.03, 'muon':
0.07})

'meson'

In [9]:
def sparse_add(vector1, vector2):
    sum_vector = vector1.copy()
    
    for key in vector2:
        if key in sum_vector:
            sum_vector[key] = sum_vector[key] + vector2[key]
        else:
            sum_vector[key] = vector2[key]
    
    return sum_vector

In [11]:
# {0, 3, 0, 4, 0, 0, 0 ...}
# {0, 0, 4, 5, 0, 6, 0 ...}
# {0, 3, 4, 9, 0, 6, 0 ...}
# {1:3, 2:4, 3:9, 5:6}
sparse_add({1:3, 3:4}, {2:4, 3:5, 5:6})

{1: 3, 3: 9, 2: 4, 5: 6}

In [12]:
number = {'서울':'02', '대전':'042', '부산':'051', '광주':'062', '제주':'064'}

In [14]:
t_list = list(number)

In [15]:
print(t_list)

['서울', '대전', '부산', '광주', '제주']

In [16]:
t_list = list(number.items())

In [17]:
print(t_list)

[('서울', '02'), ('대전', '042'), ('부산', '051'), ('광주', '062'), ('제주', '064')]

In [18]:
v_list = list(number.values())

In [19]:
print(v_list)

['02', '042', '051', '062', '064']

In [20]:
print(number['부산'])

051

In [21]:
is_exists = '천안' in number

In [22]:
print(is_exists)

False