In [1]:
cities = ['서울','도쿄','뉴욕','북경','런던','파리','시드니','방콕']

In [2]:
print(cities)

['서울', '도쿄', '뉴욕', '북경', '런던', '파리', '시드니', '방콕']

In [3]:
print(cities[0])

서울

In [4]:
print(cities[0:6])

['서울', '도쿄', '뉴욕', '북경', '런던', '파리']

In [5]:
print(cities[5:])

['파리', '시드니', '방콕']

In [6]:
print(cities[-2:])

['시드니', '방콕']

In [7]:
color1 = ['red', 'blue', 'green']
color2 = ['orange', 'black', 'white']

In [8]:
print(color1 + color2)

['red', 'blue', 'green', 'orange', 'black', 'white']

In [9]:
len(color1)

3

In [10]:
total_color = color1 + color2

In [11]:
print(total_color)
print(len(total_color))

['red', 'blue', 'green', 'orange', 'black', 'white']
6

In [12]:
print(color1 * 2)

['red', 'blue', 'green', 'red', 'blue', 'green']

In [13]:
print('blue' in color2)

False

In [14]:
print('white' in color2)

True

In [15]:
t = [1, 2, 3,]

In [16]:
a, b, c = t

In [17]:
print(t)

[1, 2, 3]

In [18]:
print(a, b, c)

1 2 3

In [19]:
a, b, c, d = t # ValueError

ValueError: not enough values to unpack (expected 4, got 3)

In [20]:
a, b = t

ValueError: too many values to unpack (expected 2)

In [36]:
word = input("Input a word:")

Input a word:Hello World

In [37]:
word_list = list(word)
print(word_list)

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [38]:
result = []
for _ in range(len(word_list)):
    result.append(word_list.pop())

In [39]:
print(result)

['d', 'l', 'r', 'o', 'W', ' ', 'o', 'l', 'l', 'e', 'H']

In [40]:
print(word[::1])

Hello World

In [41]:
print(word[::2])

HloWrd

In [42]:
print(word[::-1])

dlroW olleH

In [43]:
t = [ 1, 2, 3, 4, 5]

In [44]:
t.append(10)
t.append(20)

In [45]:
print(t.pop(0))

1

In [46]:
print(t.pop(0))

2

### Quiz - 자료형 5,6,7

In [47]:
season = ['봄', '여름', '가을', '겨울']
color = ['RED', 'GREEN', 'BLUE']

In [48]:
join = season[2] + ' + ' + color[1]
print(join)

가을 + GREEN

In [49]:
person = [
 'ggoreb',
 20,
 ['서울', '관악구', '신림동'],
 ['대전', '서구', '둔산동']
]

In [50]:
data = '[{0}]{1}/{2}'
print(data.format(person[0], person[2][2], person[3][2]))

[ggoreb]신림동/둔산동

In [51]:
data = '{0} {1}'
print(data.format(person[0], person[1]))

ggoreb 20

In [52]:
list = ['a', 'b', 'c']
list = list + ['x', 'z'] # extend(), append()
print(list)

['a', 'b', 'c', 'x', 'z']

In [53]:
list = ['p', 'y', 't', 'h', 'o', 'n']
list.sort()
print(list)

['h', 'n', 'o', 'p', 't', 'y']

In [54]:
list.sort(reverse=True)
print(list)

['y', 't', 'p', 'o', 'n', 'h']

In [55]:
list = [
 '서울', '부산', '광주', '대전', '부산',
 '대전', '대전', '서울', '부산', '대전'
]

In [56]:
count = list.count('대전')
print(count)

4

In [57]:
list = ['원피스', '나루토', '열혈강호', '용비불패', '드래곤볼']

In [58]:
list.remove('원피스')

In [61]:
list.remove('나루토')

In [62]:
list.pop()

'드래곤볼'

In [63]:
print(list)

['열혈강호', '용비불패']

In [64]:
list.insert(1, '고수')

In [65]:
print(list)

['열혈강호', '고수', '용비불패']

In [67]:
list = ['원피스', '나루토', '열혈강호', '용비불패', '드래곤볼']
print(list)

['원피스', '나루토', '열혈강호', '용비불패', '드래곤볼']

In [68]:
list[1] = '보루토'

In [69]:
print(list)

['원피스', '보루토', '열혈강호', '용비불패', '드래곤볼']

### p203 7,8번

In [70]:
def same_first_last(L : list) -> bool :
    if len(L) >= 2 :
        return L[0] == L[-1]
    else :
        return False

In [71]:
same_first_last([3,4,2,8,3])

True

In [72]:
same_first_last(['apple', 'banana', 'pear'])

False

In [73]:
same_first_last([4.0, 4.5])

False

In [74]:
def is_longer(L1: list, L2 : list) -> bool :
#     if len(L1) > len(L2):
#         return True
#     elif len(L1) < len(L2):
#         return False
#     else
#         return False
    return len(L1) > len(L2)

In [75]:
is_longer([1,2,3], [4,5])

True

In [76]:
is_longer(['abcdef'], ['ab', 'cd', 'ef'])

False

In [77]:
is_longer(['a', 'b', 'c'], [1, 2, 3])

False

### Tuple

In [78]:
t = (1, 2, 3)

In [79]:
print(t)

(1, 2, 3)

In [81]:
print(t + t)

(1, 2, 3, 1, 2, 3)

In [82]:
print(t)

(1, 2, 3)

In [83]:
print(t + 2)

TypeError: can only concatenate tuple (not "int") to tuple

In [84]:
t[1] = 5

TypeError: 'tuple' object does not support item assignment

### Set

In [85]:
s = {1, 2, 3, 4, 5, 1}

In [86]:
print(s)

{1, 2, 3, 4, 5}

In [87]:
s = set([1,2,3,4,5,1,2,3])

In [88]:
print(s)

{1, 2, 3, 4, 5}

In [89]:
s.add(6)

In [90]:
print(s)

{1, 2, 3, 4, 5, 6}

In [92]:
s.remove(1)

In [93]:
print(s)

{2, 3, 4, 5, 6}

In [94]:
s.remove(4)

In [95]:
print(s)

{2, 3, 5, 6}

In [97]:
s.update([7])

In [98]:
print(s)

{2, 3, 5, 6, 7}

In [101]:
s.update([7, 8, 9, 1])

In [102]:
print(s)

{2, 3, 1, 5, 6, 7, 8, 9}

In [103]:
s.clear()

In [104]:
print(s)

set()

### list [, ] : 순차적으로 데이터 저장, 중복O, 변경 O
### tuple (, ) : 순차적으로 데이터 저장, 중복O, 변경X
### set {, } : 순서 상관 없이 저장, 중복 X, 변경 O

### Dictionary

In [105]:
country_code = {}

In [106]:
country_code = {'America':'1', 'Austrailia':'61', 'Japan':'81', 'Korea':'82', 'China':'86'}

In [109]:
print(country_code.keys())

dict_keys(['America', 'Austrailia', 'Japan', 'Korea', 'China'])

In [111]:
print(country_code.values())

dict_values(['1', '61', '81', '82', '86'])

In [112]:
country_code['German'] = 49

In [113]:
print(country_code.keys())

dict_keys(['America', 'Austrailia', 'Japan', 'Korea', 'China', 'German'])

In [114]:
print(country_code.values())

dict_values(['1', '61', '81', '82', '86', 49])

# example)

```
Key:Value
Key:Value
Key:Value
Key:Value
Key:Value
```

In [116]:
print(country_code.items())

dict_items([('America', '1'), ('Austrailia', '61'), ('Japan', '81'), ('Korea', '82'), ('China', '86'), ('German', 49)])

In [120]:
for item in country_code.items():
    print(item[0] + ":" + str(item[1]))

America:1
Austrailia:61
Japan:81
Korea:82
China:86
German:49

In [121]:
t = [1,2]
a, b = t # unpacking

In [123]:
for k, v in country_code.items():
    print("{0}: {1}".format(k, v))

America: 1
Austrailia: 61
Japan: 81
Korea: 82
China: 86
German: 49

### Lambda

In [126]:
def func1(x, y):
    return x + y

print(func1(1, 4))

5

In [130]:
f = lambda x, y: x + y

In [131]:
print(f(1,4))

5

In [132]:
s1 = "first"
s2 = "second"

In [133]:
temp = s1
s1 = s2
s2 = temp

In [134]:
print(s1, s2)

second first

In [135]:
s1 = "first"
s2 = "second"

In [136]:
s1, s2 = s2, s1

In [137]:
print(s1, s2)

second first

### MapReduce

In [138]:
f = lambda x : x ** 2

In [139]:
f(1)

1

In [140]:
f(6)

36

In [141]:
ex = [1, 2, 3, 4, 5]

In [143]:
for e in ex:
    print(f(e))

1
4
9
16
25

In [144]:
result = map(f, ex)

In [145]:
print(result)

<map object at 0x0000018AE64B4220>

TypeError: 'list' object is not callable

In [149]:
a = [1.2, 2.5, 3.7, 4.6]
a = list(map(int, a))

TypeError: 'list' object is not callable